[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pywin32" = "*"
servicemanager = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
"autopep8" = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
